.header {
  width: 100vw;
  padding: 28px 48px 56px;
  display: inline-grid;
  grid-template-columns: 176px auto;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 28px 24px 56px;
  }
}