.place__paragraph {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 26px;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    row-gap: 25px;
  }
}


@media screen and (max-width: 320px) {
  .place__paragraph {
    margin: 0 16px;
  }
}