.places__items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .places__items {
    align-items: center;
  }
}
