.intro {
  padding: 0 148px;
  width: 100%;
  height: 429px;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .intro {
    padding: 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding: 0 24px;
  }
}