.cover {
  padding: 0 46px 92px;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .cover {
    padding: 0;
    padding-bottom: 92px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    padding: 0;
    padding-bottom: 88px;
  }
}