.cover {
  margin: 0 46px 92px;
  width: 1184px;
  height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .cover {
    margin: 0;
    margin-bottom: 92px;
    width: 1024px;
    height: 740px;
  }
}