.cover__overlay {
  width: max(100%, 1184px);
  min-height: 740px;
  position: relative;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
  text-decoration: none;
  text-align: center;
  transition: opacity .5s;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover__overlay {
    width: min(100%, 1024px);
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__overlay {
    width: 768px;
    min-height: 480px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cover__overlay {
    width: 320px;
    min-height: 200px;
  }
}

.cover__overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: #2A2C2F;
  z-index: -1;
  opacity: 0.3;
}

.cover__overlay:hover {
  opacity: 0.8;
}
