.footer {
  padding: 0 48px 24px;
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0 24px 24px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer {
    padding: 0 10% 24px;
    flex-direction: column;
  }
}